<!-- 
    Author: Caroline Hoang
    A simple Homepage Navigation Page between the two apps
    [A UI Design Class Assignment]
-->

<!DOCTYPE html>



<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Columbia Paper Sales Logging</title>
        <style> 
            .header{
                width: 100%;
                height: 100%;
                background-color: lightgrey;
                font-size: 2.5rem;
                padding: 8vh 0 8vh 5vw;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="header" >
            <a href="./infinity">Columbia Paper Infinity</a>
        </div>
        <div class="header" >
            <a href="./ppc">Party Planning Committee</a>
        </div>
    </body>
</html>